*.pyc
*.nc
*.asc
dnora/__pycache__
dnora/bnd/__pycache__
dnora/wnd/__pycache__
dnora/trg/__pycache__
dnora/grd/__pycache__
dnora/mdl/__pycache__
dnora/examples/output
dnora/output
dnora/jobs
.eggs
dnora/exp/inp/__pycache__/input_file_writers.cpython-310.pyc
